In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Basics').getOrCreate()

22/12/16 04:20:30 WARN Utils: Your hostname, Sayans-Macbook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.102 instead (on interface en0)
22/12/16 04:20:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/16 04:20:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
#Reading Data from csv
df_csv = spark.read.csv('sales_info.csv')
df_csv.show()
#Reading Data from json
df_json = spark.read.json('people.json')
df_json.show()

+-------+-------+-----+
|    _c0|    _c1|  _c2|
+-------+-------+-----+
|Company| Person|Sales|
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
|   APPL|   John|  250|
|   APPL|  Linda|  130|
|   APPL|   Mike|  750|
|   APPL|  Chris|  350|
+-------+-------+-----+

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
#Get to knlw about the columns and datatypes of the dataframe
df_csv.printSchema()
#Get to knlw about the columns and datatypes of the dataframe
df_json.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
#Get to knlw about the columns of the dataframe
df_csv.columns
#Get to knlw about the columns of the dataframe
df_json.columns

['age', 'name']

In [7]:
#Get to knlw about the columns and datatypes of the dataframe
df_csv.describe()
#Get to knlw about the columns and datatypes of the dataframe
df_json.describe()

DataFrame[summary: string, age: string, name: string]

In [8]:
#Get the various statistical values of the dataframe
df_json.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
#Get the various statistical values of the dataframe
df_csv.describe().show()

+-------+----+-------+------------------+
|summary| _c0|    _c1|               _c2|
+-------+----+-------+------------------+
|  count|  13|     13|                13|
|   mean|null|   null| 360.5833333333333|
| stddev|null|   null|250.08742410799007|
|    min|APPL|  Chris|               130|
|    max|MSFT|Vanessa|             Sales|
+-------+----+-------+------------------+

In [10]:
#Typecasting columns
from pyspark.sql.types import StructField, StructType, StringType, IntegerType
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]
final_struc = StructType(fields=data_schema)
df_json_new = spark.read.json('people.json', schema = final_struc)
df_json_new.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [11]:
type(df_json_new['age'])

pyspark.sql.column.Column

In [12]:
#Select Columns
df_json_new.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [13]:
#get top 2 elements of the dataframe.
df_json_new.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [14]:
#Select 2 columns
df_json_new.select('age', 'name').show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [15]:
#PySpark withColumn() is a transformation function of DataFrame which is used to change the value,
#convert the datatype of an existing column, create a new column, and many more.
df_json_new.withColumn('doubleage', df_json_new['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [16]:
#Renaming Column
df_json_new.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [17]:
#Creates a global temporary view with this DataFrame.
# Register the DataFrame as a SQL temporary view
df_json_new.createOrReplaceTempView("people")
#Create Temporary view only once

In [18]:
results = spark.sql("SELECT * FROM people")

In [19]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [20]:
new_results = spark.sql("SELECT * FROM people where age = 30")

In [21]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+